@import url('https://fonts.googleapis.com/css?family=Cardo|Philosopher');

body {
    background-color: floralwhite;
    background-image: url(../img/Bg_shattered.png);
    font-family: "Philosopher", serif;
    font-weight: 300;
    font-size: 16px;
    color: #555
        
        -webkit-font-smoothing: antialiased;
    
   
    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Philosopher", sans-serif;
    font-weight: 300;
    color: #333
}

p {
    text-align: justify;
    line-height: 28px;
    margin-bottom: 25px;
}

* {box-sizing: border-box}

.centered {
    text-align: center;
}

a {
    color: darkslateblue;
}

a:hover, a:focus {
    color: blueviolet;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: darksalmon;
}

.navbar-inverse .navbar-brand {
    color: antiquewhite;
    font-weight: bolder;
    font-size: 28px;
    letter-spacing: 1px;
}

    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap2 {
    background: url(../img/Home_2.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap3 {
    background: url(../img/Home_3.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap4 {
    background: url(../img/Home_4.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap5 {
    background: url(../img/Home_6.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap6 {
    background: url(../img/2.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap2 h1 {
    background-color: rgba(0, 0, 0, 0.47);
    margin-top: 200px;
    color: aliceblue;
    font-size: 30px;
    font-weight: 300px;
    letter-spacing: 3px;
}

#headerwrap3 h1 {
    background-color: rgba(0, 0, 0, 0.47);
    margin-top: 200px;
    color: aliceblue;
    font-size: 30px;
    font-weight: 300px;
    letter-spacing: 3px;
}

#headerwrap4 h1 {
    background-color: rgba(0, 0, 0, 0.47);
    margin-top: 200px;
    color: aliceblue;
    font-size: 36px;
    font-weight: 300px;
    letter-spacing: 3px;
}

#headerwrap5 h1 {
    background-color: rgba(0, 0, 0, 0.47);
    margin-top: 150px;
    color: aliceblue;
    font-size: 30px;
    font-weight: 300px;
    letter-spacing: 3px;
}
#headerwrap5 h4 {
    background-color: rgba(0, 0, 0, 0.47);
}

.w {
    padding-top: 35px;
}

.w h4 {
    font-size: 25px;
}

.w p {
    font-size: 18px;
}

#dg {
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    
}
#dg p {
    text-align: right;
    font-size: 18px;
    color: darksalmon;
}

#dg h4 {
    font-size: 40px;
}

.tilt {
    
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.tilt:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: scale(1.1);
}

.wb {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.wb h4 {
    font-size: 35px;
    
    
}
.wb p {
    width: 100%;
    font-size: 18px;    
}

#lg {
    background: #ebebeb;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#lg h4 {
    font-size: 35px;
}

#r {
    background: darksalmon;
    padding-top: 20px;
    padding-bottom: 20px;
}

#r h4 {
    color: white;
    font-size: 40px;
}

#r p {
    color: aliceblue;
    text-align: center;
}

#f {
    background: #2d2d2d;
    padding-top: 10px;
    padding-bottom: 10px;
}

#f li {
    font-size: 18px;
}

#f i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}

#f i:hover {
    color: #ff7878
}

.contacts h4 {
    color: antiquewhite;
    font-size: 24px;
    letter-spacing: 2px;
}

.container.gallery-container {
    background-color: rgba(250, 235, 215, 0.5);
    color: black;
    min-height: 60vh;
    padding: 10px 30px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: '', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #2d2d2d;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(233, 150, 122, 0.4);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
.post-title {
    position: absolute;
    top: 150px;
    left: 0;
    color: #005F8D;
    font-size: 16px;
    font-weight: bold;
    display: block;
    background: rgba(255, 255, 255, 0.65);
    width: 100%;
    line-height: 38px;
    text-indent: 11px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.50);
}

.post-title2 {
    position: absolute;
    top: 20px;
    left: 0;
    color: #005F8D;
    font-size: 16px;
    font-weight: bold;
    display: block;
    background: rgba(255, 255, 255, 0.65);
    width: 100%;
    line-height: 38px;
    text-indent: 11px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.50);
}

.blockquote-footer {
  display: block;
  font-size: 100%;
  color: antiquewhite;
  font-family:'Philosopher', sans-serif;
    
}

.social {
  position: fixed;
  top: 80px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(233, 150, 122, 0.8);
  width: 300px;
  text-align: right;
  font-size: 20px, bolder ; 
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(180px, 0);
  -moz-transform: translate(180px, 0);
  -ms-transform: translate(180px, 0);
  -o-transform: translate(180px, 0);
  transform: translate(180px, 0);
  background: rgba(255, 255, 255, 0.8);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: black;
  background: darksalmon;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#topNubex {
	position: fixed;
	right: 100px;
	bottom: 45px;
   }